// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
// Import Futura PT - Adobe
@font-face {
  font-family: 'Futura-PT-Book';
  src: font-url('FuturaPTBook.woff') format('woff');
}

@font-face {
  font-family: 'Futura-PT-Light';
  src: font-url('FuturaPTLight.woff') format('woff');
 }

@font-face {
  font-family: 'Futura-PT-Medium';
  src: font-url('FuturaPTMedium.woff') format('woff');
}

// Define fonts for body and headers
$body-font: "Futura-PT-Light", "Arial", "sans-serif";
$futura-book: "Futura-PT-Book", "Arial", "sans-serif";
$futura-medium: "Futura-PT-Medium", "Arial", "sans-serif";

.paragraphe-switch {
  color: $blue-light;
  font-size: 20px;
}

.paragraphe-profile {
  color: $blue-light;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: $futura-medium;
  color: $blue-light;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 20px 0;
}

.subtitle-profile {
  color: $blue-light;
  font-size: 30px;
  line-height: 26px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.minicast-card-title {
  font-family: $futura-book;
  color: $blue-light;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  margin: 10px 0;
}

label {
  color: $blue-light;
  font-size: 16px;
  line-height: 21px;
}

.menu-podcast a {
  color: $blue-light;
  font-weight: 500;
  font-size: 13px;
  line-height: 139.4%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-podcast a:hover {
  border-bottom: 1px solid $blue-dark;
}

.signature p {
  font-family: $futura-book;
  color: $blue-medium;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  margin: 0;
}

