.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  color: white;
}

.content-intro h2 {
  font-family: $futura-book;
  font-size: 24px;
  color: $blue-medium;
  margin-bottom: 20px;
}

.content-intro h3 {
  font-family: $futura-medium;
  text-align: center;
  font-size: 22px;
  color: white;
}

.content-intro p {
  text-align: center;
  color: white;
}
