.micro-record {
  border-color:white;
  margin: 40px auto;
}

.new_cast {
    width: 60%;
    margin: 0 auto;
}
.minicastform {
  input {
  color: white;
  background-color: transparent;
  border-radius: 20px ;
  }
  textarea {
    color: white;
    background-color: transparent;
    border-radius: 20px ;
  }
  select {
    color: white;
    background-color: transparent;
    border-radius: 20px ;
  }
  label{
    text-align: left !important;
  }
}

#record {
    background-color:#112938;
    border-width: medium;
    border-color:  white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    position: relative;
}
#stopRecord {
  background-color: #6FB9C3;
  border-width: medium;
  border-color:  white;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 50%;
  max-height: 15%;
  border-radius: 50%;
  position: relative;
}

#recordedAudio {
  position: relative;
}
