.micro-record {
  border: 5px solid #6FB9C3;
  margin: 20px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.micro-record img {
  margin-top:20%;
}

.new_cast {
    width: 60%;
    margin: 0 auto;
}
.minicastform {
  input {
  color: white;
  background-color: transparent;
  border-radius: 20px ;
  }
  textarea {
    color: white;
    background-color: transparent;
    border-radius: 20px ;
  }
  select {
    color: white;
    background-color: transparent;
    border-radius: 20px ;
  }
  label{
    text-align: left !important;
  }
}

#record {
    background-color: #112938;
    /* border-width: medium; */
    /* border-color: white; */
    color: white;
    /* padding: 18px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: 2px solid white;
    /* object-fit: cover; */
    width: 4em;
    height: 4em;
}
#stopRecord {
  background-color: #EBF8FF;
 /* border-width: medium; */
    /* border-color: white; */
    color: white;
    /* padding: 18px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: 2px solid  #6FB9C3;
    /* object-fit: cover; */
    width: 4em;
    height: 4em;
}

#deleteRecord {
  background-color: #6FB9C3;
  /* border-width: medium; */
    /* border-color: white; */
    color: white;
    /* padding: 18px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    border: 2px solid #6FB9C3;
    /* object-fit: cover; */
    width: 4em;
    height: 4em;
}

#recordedAudio {
  position: relative;
}

.record-bouton {
  margin-bottom :20px;
}

abbr { display:none; }
