.podcast-show {
  min-height: 100vh;
  background-image: asset-url("grands_podcasts.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .podcast-header {
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

    p {
      font-size: 20px;
      color: white;
    }
  }

  .index_podcast:after {
      height: 2px;
      display: block;
      width: 30px;
      background: #6FB9C3;
      margin: 0 auto;
      content: '';
  }

  h2 {
      color: white;
      margin-top: 10px;
  }

  .nav {
    justify-content: center;

  }

  .nav-link {
    color: $blue-medium;
    opacity: 1 !important;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .tab-content {
    margin: 0 20px 160px 20px;
    font-family: $futura-book;
  }

  .tab-pane {
    color: #112938;
  }

  .nav-link.active {
    height: 20px;
    font-family: $futura-medium;
    background-color: transparent !important;
    color: #112938 !important;
    font-size: 20px;
  }

  .player-cover {
    display: none !important;
    min-width: 50px !important;
  }

  iframe {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  img {
    border-radius: 12px;
  }

  span {
    color: black;
  }

  .wave {
    font-size: 30px;
    color: white;
  }

  .wave-white {
    font-size: 60px;
    color: #112938 ;
  }

  #pills-home {
    margin: 0 auto;
  }

  .podcast-placeholder img {
    width:70%;
    height:auto;
  }

}

