.podcast-show {
  background: white !important;
  min-height: 100vh;

  h1:after {
      height: 2px;
      display: block;
      width: 30px;
      background: #112938;
      margin: 0 auto;
      content: '';
  }

  h2 {
      color: #112938;
  }

  .nav {
    justify-content: space-around;
    padding-top: 1.5em;
  }

  .nav-link {
      color: #CFD4D7;
      opacity: .5 !important;
      font-size: 20px;
  }

  .tab-pane {
      color: #112938;
  }

  .nav-link.active {
    background-color: white !important;
    color: #112938 !important;
    font-size: 20px;

  }

  .player-cover {
    display: none !important;
    min-width: 50px !important;
  }

  iframe {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  img {
    border-radius: 12px;
  }

  span {
    color: black;
  }

  .wave {
    font-size: 60px;
    color: #112938;
  }

}

