.subtitle-profile {
  margin-top: 10px;
  margin-bottom: 0;
}

.paragraphe-profile {
  line-height: 1.5;
  font-family: 'Futura-PT-light';
  width: 95%;
  margin: 0 auto;
}

.card-with-delete  {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

#card-for-delete {
  width: 70vw;
  align-self: center;
}

.delete-minicast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 32px;
  height: 32px;
  align-self: center;
  border-radius: 20px;
  background-color: #6FB9C3;
}

a[data-confirm] img {
  margin-top: -10px;
}
