<h3>Selectionner un thème</h3>
<label for="show-menu" class="show-menu-un">Mes navigations en...</label>
<input type="checkbox" id="show-menu-un" role="button">
  <ul id="menu">
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Voilier</a></li>
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Navire marchand</a></li>
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Pêche</a></li>
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Défense</a></li>
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Plongée</a></li>
    <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Glisse</a></li>
  </ul>

<label for="show-menu" class="show-menu-deux">Mes bons plans...</label>
<input type="checkbox" id="show-menu-deux" role="button">
<ul id="menu">
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Escales et ports</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Mouillage</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Bourse aux équipiers</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Equipement et entretien</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Actuces et conseils</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Cuisine</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Formation</a></li>
</ul>
<label for="show-menu" class="show-menu-trois">Mes histoires de...</label>
<input type="checkbox" id="show-menu-trois" role="button">
<ul id="menu">
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Voyages</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Reportages</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Régates et sports</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Insolites</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Construction et technique</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Sciences et découvertes</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Culture</a></li>
  <li class = "sub_categorie"><a class="link_sub_categorie" href="#">Avarie et naufrages</a></li>
</ul>
