<div class="container">
  <h2>Trouver une aventure</h2>

  <div class="map">
    <h2>La map sera ici</h2>
  </div>

  <div class="legends">
    <div class="legend-details">
      <img src="#">
      <p>Podcasts</p>
    </div>
    <div class="legend-details">
      <img src="#">
      <p>Minicasts</p>
    </div>
  </div>

  <h2>Les plus écoutés</h2>

  <div>
    <ul>
      <li>podcast</li>
      <li>podcast</li>
      <li>minicast</li>
      <li>podcast</li>
      <li>minicast</li>
    </ul>
  </div>

</div>
