<div class="container">
  <h2>Trouver une aventure</h2>

  <div id="map"
   style="width: 100%; height: 480px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="legends-container">
    <div class="legend-details">
      <div class="legend-img">
        <%#= image_tag "w.svg" %>
      </div>
      <p>Podcasts</p>
    </div>
    <div class="legend-details">
      <div class="legend-img">
       <%#= image_tag "microphone.svg" %>
      </div>
      <p>Minicasts</p>
    </div>

  </div>

  <h2>Les plus écoutés</h2>

  <div>
    <ul>
      <li>podcast</li>
      <li>podcast</li>
      <li>minicast</li>
      <li>podcast</li>
      <li>minicast</li>
    </ul>
  </div>

</div>
