<div style="color: white">
<h2>MENTIONS LÉGALES</h2>
<p><strong>Crédits Photos :</strong></p>
<p>Les représentations iconographiques et photographiques contenues dans ce Site sont utilisées avec l’accord de leurs auteurs : </p>

<p><strong>Propriété intellectuelle</strong></p>
<p>Le Site est la propriété exclusive de la société WOTS, seule habilitée à utiliser et exploiter les droits de propriété intellectuelle et droits de la personnalité attachés à ce Site, notamment la structure générale, ainsi que les logiciels, textes, images animées ou fixes, graphismes et tous autres éléments composant le Site, droits d’auteur et droit à l’image, à titre originaire. L’usage de tout ou partie du Site, notamment par téléchargement, reproduction, transmission ou représentation à d’autres fins que pour usage personnel et privé dans un but non commercial est strictement interdit au sens de l’article L713-2 du CPI.</p>

<p><strong>Protection des données personnelles</strong></p>
<p>la société WOTS s’engage à préserver la confidentialité des informations fournies en ligne par l’internaute.</p>

<p>Toutes informations personnelles que l’internaute serait amené à transmettre à la société WOTS en renseignant des formulaires pour l’utilisation de certains services sont soumises aux dispositions des articles 34 et suivants de la loi n°78-17 du 06 janvier 1978 (relative à l’informatique, aux fichiers et aux libertés). Ces données à caractère personnel collectées pourront faire l’objet d’un traitement automatisé ou non afin de prendre en compte les demandes des internautes et répondre à celles-ci.</p>

<p>Les informations fournies par l’utilisateur constituent des données confidentielles à usage interne et ne seront en aucun cas communiquées à des tiers sans consentement préalable de l’usager.</p>


<p><strong>Conservation des données personnelles</strong></p>

<p>Les données à caractère personnel sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles ont été collectées.</p>
<p>Les données issues des demandes de contacts, de suivi d’information sont conservées pour une durée maximale de 3 ans.</p>

<p><strong>Cookies</strong></p>
<p>Il est précisé que des « cookies » peuvent s’installer automatiquement sur le logiciel de navigation de l’utilisateur, permettant à la société WOTS de recueillir, à des fins exclusives d’analyse de fréquentation et de statistique, des données relatives à la navigation de l’utilisateur sur le site, telles que : provenance des connexions (fournisseurs d’accès, moteur de recherche), mots clés utilisés, pages vues et temps moyen passé par page, etc.</p>
<p>L’utilisateur dispose de la faculté de s’opposer, par le paramétrage de son logiciel de navigation, à l’installation desdits « cookies ».</p>

<p><strong>Liens hypertextes vers d’autres sites</strong></p>
<p>La création de liens hypertextes vers le Site ne peut être faite qu’avec l’autorisation écrite et préalable de la société WOTS qui pourra être révoquée à tout moment.
La société WOTS décline toute responsabilité concernant le contenu des sites liés au Site.</p>

<p><strong>Responsabilité de la société WOTS</strong></p>
<p>Dans les conditions autorisées par la loi, la société WOTS n’encourt aucune responsabilité : pour toute imprécision, inexactitude, omission ou pour tous dommages résultant d’une intrusion d’un tiers ayant entraîné une modification des informations mises à disposition sur le site, en cas de dommages provoqués à raison de l’accès d’un tiers non autorisé sur le Site ou rendant impossible son accès.</p>

<p>L’internaute est informé que l’accès au Site pourra être interrompu à tout moment par la société WOTS pour des raisons de maintenance, de sécurité ou toute autre contrainte technique.</p>

<p><strong>Droit applicable</strong></p>
<p>Les présentes conditions sont régies par le droit français. Les juridictions françaises sont seules compétentes pour connaitre tout litige se rapportant directement ou indirectement à l’accès au présent Site ou à son utilisation.</p>
</div>
