<div class="content-welcome text-center">
  <%= image_tag("logo.png") %>
  <p>Le réseau audio<br>
  des aventurières de la mer</p>
  <div>
    <%= link_to intro_path do %>
    <%= image_tag "fleche.png", class: "balise" %>
    <% end %>
  <div>
</div>
