<div class="container" id="show-container">
  <div class="row">
    <div class="col-8">
      <div class="minicast-card">
        <h1><%= @cast.title %></h1>
        <br>
        <%= cl_image_tag @cast.photo.key, height: 500, crop: :fill %>
        <br>
        <br>
        <p> <%= @cast.description %> </p>
      </div>
    </div>
  </div>
</div>
