.btn-primary {
  font-size: 16px;
  padding: 20px 30px;
  background-color: blue-medium;
  border-radius: 28px
}

.btn-record {
  display: flex;
  justify-content: space-between;
  align-item: center;
}
