.btn-master {
  font-size: 16px;
  // padding: 20px 30px;
  background-color: #6FB9C3;
  border-radius: 50px ;
  margin: 20px auto;
  width: 50%;
  color: white;
}

.btn-record {
  display: flex;
  justify-content: space-between;
  align-item: center;
}

/* Bouton dans l'info-box de la map */

.btn-map {
  font-size: 14px;
  padding: 10px 15px;
  background-color: $blue-medium;
  border-radius: 17px;
  margin: 15px;
  outline: none;
}

.btn-map a {
  text-decoration: none;
  color: white;
}
