/* Card Podcast */

.card-podcast {
  width: 400px;
  height: 86px;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-item: center;
}

.podcast-img-container {
  width: 150px;
  position: relative;
  margin-right: 20px;

}

.podcast-img-illu {
  width: 150px;
  height: 86px;
  border-radius: 12px;
  object-fit: cover;
}

.card-txts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.citation-card {
  display: flex;
  justify-content: flex-start;
}

.signature {
  display: flex;
  justify-content: flex-end;
}

.citation-card p {
  text-align: left;
  margin: 0;
}

.play-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 28px;
  left: 60px;
  z-index: 2;
}

/* Card Minicast */

.card-minicast {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-item: center;
  border: 1px solid $blue-medium;
  border-radius: 12px;
}

.podcast-picto-container {
  width: 65px;
  display: flex;
  justify-content: space-between;
  align-item: center;
}
