/* Card Podcast */

.card-podcast {
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  align-item: center;
  width: 90%;
}

.card-podcast a {
  color: white;
  text-decoration: none;
}

.podcast-img-container {
  position: relative;
  margin-right: 20px;

}

.podcast-img-illu {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

.card-txts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.citation-card {
  display: flex;
  justify-content: flex-start;
}

.signature {
  display: flex;
  justify-content: flex-start;
}

.signature p {
  font-family: $futura-medium;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.citation-card p {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.play-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  left: 28px;
  z-index: 2;
}

/* Card Minicast */

.card-minicast {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $blue-medium;
  border-radius: 12px;
  color: white;
  margin: 20px auto

  }

.podcast-picto-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

.podcast-picto-img {
  width: 60px;
  margin-top: -6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

  .card-register {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $blue-medium;
    border-radius: 40px;
    color: white;
    margin: 20px 10%;
    background-color: #6FB9C3;
  }
