

.menu-container {
 width:80%;
 margin-top:32px;
 color: white;
 margin-left: 50px;
}

.category1 {
  text-align:left;
  padding:24px;
  display:flex;
  margin-bottom:24px;
  justify-content:space-between;
  background-image:linear-gradient(rgba(17,41,56,0.4),rgba(17,41,56,0.4)), url(image_path("components/categories/boat.jpg"));
  background-position: 0px 150px;
  object-fit: cover;  
  border-radius: 12px;
  
}

.category2 {
 
  text-align:left;
  padding:24px;
  display:flex;
  margin-bottom:24px;
  justify-content:space-between;
  background-image:linear-gradient(rgba(17,41,56,0.4),rgba(17,41,56,0.4)), url(image_path("components/categories/diver.jpg"));
  background-position: 0px 300px;
  object-fit: cover;
  border-radius: 12px;
 }

.category3 { 
  text-align:left;
  padding:24px;
  display:flex;
  margin-bottom:24px;
  justify-content:space-between;
  background-image:linear-gradient(rgba(17,41,56,0.4),rgba(17,41,56,0.4)), url(image_path("components/categories/compass.jpg"));
  filter: bluescale(100%);
  background-position: 0px 200px;
  object-fit: cover;
  border-radius: 12px;

}

.category-title {
  color: white;
  
}

.content ul {
 list-style:none;
 padding-left:0;
 text-align:left;
 padding:15px;
 font-size: 24px;
}

.content ul li {
 margin-bottom:16px;
}

.hidden {
 display:none;
}



// .nav {
//   transition: all 0.5s;
//   display:flex;
//   flex-direction:column;
//   width:350px;
// }

// .nav .open .dropdown-menu {
//   position: relative;
//   left: 0;
//   width: 100%;
//   margin-top: 0;
//   background-color: #112938;
//   border: 0;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   color: white !important;

// }

// // .dropdown-un {
// //   background-image: url(image_path("components/categories/boat.jpg"));
// //   background-position: 0px 100px;
// //   object-fit: cover;
// //   background-size:cover;  
// //   border-radius:4px;
  
  
// // }

// // .dropdown-deux {
// //   background-image: url(image_path("components/categories/diver.jpg"));
// //   background-position: 0px 200px;
// //   object-fit: cover;
// //   background-size:cover; 
// //   border-radius:4px;
// //   margin-top: 30px;
  
// // }

// // .dropdown-trois {
// //   background-image: url(image_path("components/categories/compass.jpg"));
// //   background-position: 0px 150px;
// //   object-fit: cover;
// //   background-size:cover;
// //   border-radius:4px;
// //   margin-top: 30px;
// //   margin-bottom: 30px;
  
// // }

// // .content-dropdown {
// //   color: white;
// // }

// // .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
// //   background-color:transparent;
// // }

// // .nav>li>a:focus, .nav>li>a:hover {
// //   background-color:transparent;
// // }


// // element.style {
// // }
// // .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
// //   color: white;
// //   text-decoration: none;
// //   background-color: transparent;
// // }
  
  
// // .content-dropdown {
// //   display:flex;
// //   justify-content:space-between;
// // }

// // .title-left {
// //   font-family: $futura-book;
// //   color: white;
// //   font-weight: 500;
// //   font-size: 20px;
// //   line-height: 31px; 

// // }
