#map, #map-view {
  background-color: $blue-dark;
}

.mapboxgl-ctrl, a.mapboxgl-ctrl-logo {
 display: none;
}


.mapboxgl-popup {
  width: 150px;
  min-height: 180px;
}

.mapboxgl-popup-content {
  // max-width: 180px;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}

.mapboxgl-popup-content p {
  color: $blue-dark;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 6px;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: white;
}
