.navbar {
  justify-content: space-between;
  background: #112938;
  color: #ffff;
}

.navbar .navbar-collapse {
  text-decoration: none;
  flex-grow: 0;
}

.vagues {
  width: 25px;
  height: 20px;
}

.navbar a {
  text-decoration: none;
}

.nav-link a {
  text-decoration:none;
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.active {
 color: white;
}

.nav-item {
  margin: 5px 0;
  list-style-type: none;
}

.nav-item a {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style-type: none;
}

.navbar-brand img {
  width: 150px;
  text-align: center;
  justify-content: center;
}

.navbar .avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 4px
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }

  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }

  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }

@media (max-width: 640px) {
  .navbar-brand img {
    width: 125px;
   }

  .navbar-brand {
    margin-right: 0;
  }
}
